* {
  font-family: Roboto, sans-serif;
}

.SearchBar {
  width: 100%;
}

.FilterButton {
  min-width: none;
}

.FilterButtonGroupTournaments {
  width: 100%;
}

.FilterButtonGroupYesNo {
  width: 33.33%;
}

.SortBy {
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .SearchBar {
    max-width: 220px;
    margin-left: auto;
  }

  .FilterButton {
    min-width: 55px;
  }

  .FilterButtonGroupTournaments {
    width: auto;
  }

  .FilterButtonGroupYesNo {
    width: auto;
  }
}
