* {
  font-family: Roboto, sans-serif;
}

#Parent {
  margin-top: 56px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  /* background-color: #f8f9fa; */
}

#NavColor {
  /* background-color: #f8f9fa; */
}

.Content {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

#DashboardBody {
  display: block;
  padding-bottom: 15px;
}

#MobileBody {
  display: none;
  margin-top: 15px;
}

.ContentPadding {
  padding: 15px;
}

.Col {
  padding-top: 15px;
  padding-bottom: 15px;
}

@media only screen and (max-width: 768px) {
  #MobileBody {
    display: block;
  }

  #DashboardBody {
    display: none;
  }
}
